
* {
    font-family: Arial;
}

/*#infoviz {
    background-color: #222222;
    color: #cccccc;
    width: 400px;
    height: 400px;
}*/

.topmenu ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.topmenu ul li {
    display: inline-block;
    padding: 0px 20px;
}

svg#tree {
    width: 800px;
    height: 600px;
}
svg .node circle {
    fill: #ccffcc;
    stroke: #000;
}
svg .relation circle {
    fill: #000;
    stroke: #fff;
}
svg text {
    color: #000;
    box-shadow:
}

