
* {
    font-family: Arial;
}

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
}
.topmenu {
}
.body {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}
.main {
    flex-grow: 2;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.sidebar {
    flex-grow: 1;
    width: 30%;
}

svg#tree {
    width: 100%;
    flex-grow: 1;
}
.teststuff {
    padding: 8px;
}

/*#infoviz {
    background-color: #222222;
    color: #cccccc;
    width: 400px;
    height: 400px;
}*/

.topmenu ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.topmenu ul li {
    display: inline-block;
    padding: 0px 20px;
}

svg .node circle {
    fill: #ccffcc;
    stroke: #000;
}
svg .relation circle {
    fill: #000;
    stroke: #fff;
}
svg text {
    color: #000;
}

.foobar {
    position: absolute;
    left: 0px;
    top: 0px;
    right:0px;
    bottom: 0px;
}
div#map {
    min-height: 400px;
}
