<!DOCTYPE html>

<html ng-app="HiskiVisualizer">
<head>
    <link href='http://fonts.googleapis.com/css?family=Cabin:500' rel='stylesheet' type='text/css'>
    <title>AncestryAI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
    <script src="{{ url_for('static', filename='jslibs/underscore/1.8.3/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='jslibs/jquery/2.1.3/jquery-2.1.3.min.js') }}"></script>
    {# <script src="{{ url_for('static', filename='jslibs/jquery-i18n/1.1.1/jquery-i18n.min.js') }}"></script> #}
    <script src="{{ url_for('static', filename='jslibs/angularjs/1.3.15/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jslibs/angular-translate/2.7.0/angular-translate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jslibs/d3/3.5.5/d3.min.js') }}"></script>
    {# is the norm with google maps api to copy it or link there or? #}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    {# <script src="{{ url_for('static', filename='jslibs/i18next/1.8.0/i18next-1.8.0.min.js') }}"></script> #}

    <script src="{{ url_for('static', filename='js/translate-en.js') }}"></script>
    <script src="{{ url_for('static', filename='js/translate-fi.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init-for-ng.js') }}"></script>
    <script src="{{ url_for('static', filename='js/item-view-menu-controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/multi-view-controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tree-individuals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tree-families.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tree-links.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hiski-object.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view-tree.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view-map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hiski-visualizer.js') }}"></script>

    <link href="{{ url_for('static', filename='css/generic.css') }}" rel="stylesheet" type="text/css" />
    {% if not at_entrance %}
    <script>
        Hiski.at_entrance = false;
        Hiski.load("@first@", null);
    </script>
    {% endif %}
</head>
<body>
    <div class="everything" ng-controller="TopMenuController as menu">
        <div class="app" ng-show="!menu.Hiski.at_entrance">
            {% raw %}
            <div class="topmenu">
                <button id="smalllogobutton" ng-click="menu.go_to_entrance()">
                    {% endraw %}
                    <img class="smalllogo" src="{{ url_for('static', filename='img/banner.svg') }}" />
                    {% raw %}
                </button>

                    <!--<button ng-click="menu.toggle_color_mode()" translate>Toggle colouring</button>-->
                    <select ng-model="menu.Hiski.color_mode" ng-change="render_all()">
                        <option value="expendability" translate>Colour by expendability</option>
                        <option value="family-name" translate>Colour by family name</option>
                        <!--<option value="soundex" translate>Colour by Soundex</option>-->
                        <!--<option value="sex" translate>Colour by sex</option>-->
                        <!--<option value="family-relation" translate>Colour by relation</option>-->
                    </select>
                    <!--<button ng-click="menu.toggle_layout()" translate>Toggle layout</button>-->
                    <!--<select ng-model="menu.Hiski.layout_mode" ng-change="menu.Hiski.calc_and_render_layout()">
                        <option value="compact" translate>Compact layout</option>
                        <option value="node-order" translate>Node order layout</option>
                        <option value="load-order" translate ng-if="menu.Hiski.debug_mode">Load order layout</option>
                    </select>-->
                <button ng-click="menu.load_random()" translate>Load random</button>
                <button ng-click="menu.toggle_autoexpand()" ng-class="{toggled: menu.Hiski.node_auto_expand_delay != -1}" translate>Toggle autoexpansion</button>
                <div class="right-end">
                    <button ng-click="menu.set_language('fi')" translate>Finnish</button>
                    <button ng-click="menu.set_language('en')" translate>English</button>
                </div>
            </div>
            {% endraw %}
            <div class="body">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <div class="entrance" ng-show="menu.Hiski.at_entrance">
            {% raw %}
            <div class="banner">
                {% endraw %}
                <img class="bannerlogo" src="{{ url_for('static', filename='img/banner.svg') }}" />
                {% raw %}
            </div>
            <ul class="topmenu">
                <li><button ng-click="menu.go_to_app()" translate>Start</button></li>
                <ul class="right-end">
                    <li><button ng-click="menu.set_language('fi')" translate>Finnish</button></li>
                    <li><button ng-click="menu.set_language('en')" translate>English</button></li>
                </ul>
            </ul>
            <div class="explanation">
                <div class="lang en" ng-if="menu.language == 'en'">
                    <p>AncestryAI is an application which uses machine learning to infer family trees and enables visualizing and searching the inferred trees. It has been developed to support genealogical research.</p>

                    <h2>Technical requirements</h2>
                    <p>Only Chrome and Firefox browsers are currently supported.</p>

                    <h2>Material</h2>
                    <p>The family trees are inferred from about 5 million birth records from Finland collected by the <a href=http://hiski.genealogia.fi/historia/en/ohjeet.htm>HisKi</a> project. The records cover years from the mid-1600's to mid-1800's and partly to the early 20th century. The coverage of the records was originally close to full, but the digitized material covers only parts of the complete dataset (some material is not digitized yet, and some is lost).</p>

                    <h2>Usage instructions</h2>
                    <p>You can start by searching for an individual in the upper-right panel and clicking one of the search results which opens the person in the Tree view (on the left). Clicking a person in the Tree view opens his or her family and brings the person's information to the Info view (lower-right). The Info view also displays the most probable parents of the selected person.</p>

                    <p>You can add and remove sub views from the plus and minus bars next to the borders and adjust their sizes from the middle bars. The tree view can be zoomed in and out using the mouse wheel.</p>

                    <p><b>NB: When building your family tree, you should verify the links inferred by the algorithm by studying the original parish records.</b> However, with AncestryAI the process can be made more efficient since you can start from the most probable parent candidates.</p>

                    <h2>Known issues</h2>
                    <ol>
                      <li>Individuals without a family name are currently not linked.</li>
                      <li>The algorithm doesn't consider patronyms.</li>
                      <li>Nodes in the Tree view cannot be moved.</li>
                    </ol>

                    <h2>Source code</h2>
                    <p>The source code is available on <a href=https://github.com/ekQ/ancestryai>GitHub</a> under the MIT Licence. Contributions are welcome.</p>

                    <h2>Algorithm</h2>
                    <p>The family links are inferred based on the names, birth dates, and birth locations of the individuals using a probabilistic machine-learning approach. For more information, see our paper <a href=https://users.aalto.fi/~emalmi/ancestryai_www.pdf>AncestryAI: A Tool for Exploring Computationally Inferred Family Trees</a>.</p>

                    <h2>Creators</h2>
                    <p>AncestryAI is maintained by <a href=https://users.ics.aalto.fi/emalmi/>Eric Malmi</a>, who is developing collective entity resolution methods for genealogical data in his PhD project. The web application has been originally implemented by Marko Rasa.</p>

                    <p>All feedback is welcome at: eric.malmi@aalto.fi</p>
                </div>
                <div class="lang fi" ng-if="menu.language == 'fi'">
                    <p>AncestryAI on tekoälysovellus, joka muodostaa automaattisesti sukupuita ja mahdollistaa niiden visualisoinnin sekä hakemisen. Sovellus on kehitetty tukemaan sukututkijoiden tekemää työtä.</p>

                    <h2>Tekniset vaatimukset</h2>
                    <p>Tuettuja selaimia ovat Chrome ja Firefox. Internet Explorer -selaimella näkymät saattavat mennä toistensa päälle.</p>

                    <h2>Aineisto</h2>
                    <p>Ohjelma käsittelee <a href=http://hiski.genealogia.fi/hiskitalkoot/>HisKi</a>-aineiston noin 5 miljoonaa kastetapahtumaa. Kastetapahtumia löytyy 1600-luvun puolivälistä 1800-luvun puoliväliin ja osin 1900-luvun alkuun. Omien sukujuurten tutkimiseksi on näin ollen tarpeen tietää joku 1800-luvulla syntyneistä esivanhemmistaan. Huom! Tiedoissa esiintyy aukkoja ja virheitä.</p>

                    <h2>Käyttöohjeet</h2>
                    <p>Alkuun pääsee hakemalla haluamaansa henkilöä Haku-näkymässä (oikealla ylhäällä) ja klikkaamalla jotain hakutuloksista, jolloin henkilö ilmestyy Puu-näkymään (vasemmalla). Klikkaamalla henkilöä Puu-näkymässä avautuvat hänen mahdolliset lähisukulaisensa, minkä lisäksi hänen tietonsa ilmestyvät Tietoa-näkymään (oikealla alhaalla). Tietoa-näkymässä pääsee tarkastelemaan henkilön HisKistäkin löytyviä perustietoja, joiden lisäksi näkymä listaa henkilön automaattisesti päätellyt vanhemmat todennäköisyyksineen.</p>

                    <p>Näkymiä voi lisätä ja poistaa sivuilla olevista 'plus'- ja 'miinus'-palkeista, minkä lisäksi niiden kokoja voi säätää raahaamalla välipalkkeja. Puu-näkymässä on mahdollista zoomata sisään ja ulos hiiren rullalla.</p>

                    <p><b>Huom! Algoritmin päättelemiä linkkejä ei tule hyväksyä sellaisenaan</b>, vaan ne on syytä vahvistaa alkuperäisistä lähteistä sekä muista aineistoista kuten rippikirjoista. AncestryAI:n avulla tätä prosessia voidaan kuitenkaan nopeuttaa kohdentamalla sukulaisten etsintää todennäköisimpiin henkilöihin.</p>

                    <h2>Alinäkymät</h2>

                    <h3>Puu</h3>
                    <p>Visualisoi pääteltyä sukupuuta siten, että henkilöiden y-koordinaatit perustuvat heidän kastepäivämääräänsä. Puuta voi laajentaa klikkaamalla henkilöä, jonka taustaväri on vaaleanvihreä.</p>
                    <p>Puun kasvaessa näkymä menee helposti sekavaksi, minkä välttämiseksi puun haaroja on mahdollista sulkea klikkaamalla henkilöiden välissä olevia 'miinus'-palloja. Näkymän voi keskittää valittuun henkilöön 'Paikanna'-painikkeesta ylhäältä tai tyhjentää kaikista henkilöistä 'Tyhjennä näkymä'-painikkeen kautta.</p>

                    <h3>Haku</h3>
                    <p>Mahdollistaa henkilöiden hakemisen. Hakua voi rajata lisäämällä hakuehtoja. Syntymävuosikenttään on mahdollista syöttää myös aikaväli, esimerkiksi: 1750-1760. Klikkaamalla hakutulosta henkilö ilmestyy Puu-näkymään.</p>

                    <h3>Tietoa</h3>
                    <p>Näyttää Puu-näkymässä valitun henkilön perustiedot. Lisäksi listaa algoritmin päättelemät ehdokkaat henkilön vanhemmiksi todennäköisyyksineen. Ehdokkaita voi avata Puu-näkymään klikkaamalla heidän nimiään.</p>

                    <p>Puu-näkymä piirtää tyypillisesti henkilön todennäköisimmät vanhemmat, mutta tietyissä tapauksissa se valitsee jonkin pienemmän todennäköisyyden ehdokkaan. Tämä tapahtuu silloin, kun jollain vanhemmalla on lapsia usean lähes samannimisen puolison kanssa, jolloin ohjelma päättelee, että nämä ovat todennäköisesti sama henkilö.</p>

                    <h3>Kommentteja</h3>
                    <p>Mahdollistaa kommenttien jättämisen liittyen valittuun henkilöön. Kommentteja toivotaan sekä ohjelman päättelemistä oikeista että vääristä linkeistä, koska näiden tietojen perusteella menetelmää voidaan opettaa päättelemään linkit tarkemmin.</p>

                    <p>Kommentit näkyvät myös muille käyttäjille, jotka valitsevat kyseisen henkilön. Nimi- ja email-kenttien täyttäminen on vapaaehtoista, ja sähköpostiosoite ei näy muille käyttäjille, vaan ainoastaan ohjelman ylläpitäjällä, joka voi tarvittaessa pyytää lisätietoja kommenttiin liittyen.</p>

                    <h3>Polkuhaku</h3>
                    <p>Etsii lyhimmän polun kahden henkilön välille auttaen löytämään sukulaisuussuhteita. Lähtöhenkilö valitaan klikkaamalla jotakuta Puu-näkymässä, ja kohdehenkilön voi valita esim. ohjelman listaamien tunnettujen suomalaisten joukosta tai syöttämällä jonkun toisen henkilön HisKi ID:n.</p>

                    <p>Huom! Polun ollessa pitkä epävarmuudet kasaantuvat, eikä polku näin ollen todennäköisesti pidä paikkaansa kokonaisuudessaan.</p>

                    <h3>Kartta</h3>
                    <p>Esittää Puu-näkymän henkilöt kartalla värittäen valitun henkilön valkoisella. Kartalle näytetään lisäksi linkit valitun henkilön vanhempiin ja lapsiin (elleivät he ole syntyneet samassa paikassa). Seurakuntien ja kylien koordinaatit on päätelty <a href=http://users.ics.aalto.fi/gionis/geolocation.pdf>tässä</a> tutkimusartikkelissa kuvatulla menetelmällä perustuen Maanmittauslaitoksen aineistoon.</p>

                    <h2>Tunnetut ongelmat</h2>
                    <p>Alla listattuna joitain AncestryAI:n tunnettuja puutteita. Näiden lisäksi on olemassa paljon ohjelman käytettävyyteen liittyviä parannusehdotuksia, joita ei ole toistaiseksi kyetty toteuttamaan.</p>
                    <ol>
                      <li>Ohjelma ei linkitä sukunimettömiä henkilöitä.</li>
                      <li>Ohjelma ei käsittele patronyymejä.</li>
                      <li>Henkilöitä ei ole mahdollista siirtää Puu-näkymässä.</li>
                    </ol>

                    <h2>Lähdekoodi</h2>
                    <p>Sovelluksen lähdekoodi on saatavilla <a href=https://github.com/ekQ/ancestryai>GitHubissa</a>. Ulkopuolisia kontribuutioita otetaan mielellään vastaan - erityisesti liittyen käyttöliittymän parannuksiin.</p>

                    <h2>Algoritmi</h2>
                    <p>Ohjelma päättelee sukulaisuussuhteita perustuen henkilöiden nimiin sekä ikä- ja paikkatietoihin hyödyntäen tilastollista koneoppimista. Tarkempaa tietoa algoritmin toiminnasta löytyy artikkelista <a href=https://users.aalto.fi/~emalmi/ancestryai_www.pdf>AncestryAI: A Tool for Exploring Computationally Inferred Family Trees</a>.</p>

                    <h2>Tekijät</h2>
                    <p>Tällä hetkellä AncestryAI:n ainoana kehittäjänä toimii <a href=https://users.ics.aalto.fi/emalmi/>Eric Malmi</a>, jonka väitöskirjatutkimus käsittelee mm. sukupuiden päättelyä tiedonlouhinnan ja koneoppimisen keinoin. Web-sovelluksen on toteuttanut alunperin Marko Rasa.</p>

                    <p>Palautetta sovelluksesta voi lähettää osoitteeseen: eric.malmi@aalto.fi. Kehitysehdotukset ja rakentava kritiikki ovat tervetulleita, ja kuulen myös mielelläni, jos olet onnistunut löytämään AncestyAI:n avulla jonkun aiemmin tuntemattoman sukulaisesi.</p>
                </div>
                <div ng-if="menu.Hiski.debug_mode">
                    <button title="and a tooltip for a button that does nothing">Does nothing</button>
                </div>
            </div>
            {% endraw %}
        </div>
    </div>
</body>
</html>
