{% extends "base.html" %}

{% block body %}
{% raw %}
<div class="multiview" ng-controller="MultiViewController as multi_view">
    <div class="rowcontainer">
        <div class="columncontainer" ng-repeat="column in multi_view.columns">
            <div class="close-column" ng-click="multi_view.close_column($index)">
                -
            </div>
            <div id="{{menu.html_id}}" class="mvitem"
                        ng-repeat="item in column.items track by $index"
                        ng-controller="ItemViewMenuController as menu">
                <ul class="itemheader">
                    <li><button ng-click="menu.set_tab('tree')"
                            ng-class="{toggled: menu.mode == 'tree'}"
                            translate>
                            Tree
                            </button></li>
                    <li><button ng-click="menu.set_tab('info')"
                            ng-class="{toggled: menu.mode == 'info'}"
                            translate>
                            Info
                            </button></li>
                    <li><button ng-click="menu.set_tab('search')"
                            ng-class="{toggled: menu.mode == 'search'}"
                            translate>
                            Search
                            </button></li>
                    <li><button ng-click="menu.set_tab('map')"
                            ng-class="{toggled: menu.mode == 'map'}"
                            translate>
                            Map
                            </button></li>
                    <li><button ng-click="menu.testzoom()"
                            ng-show="menu.mode == 'tree'"
                            translate>
                            Locate
                            </button></li>
                    <li><button ng-click="menu.set_tab('testnote')"
                            ng-class="{toggled: menu.mode == 'info'}"
                            ng-show="menu.testnote !== null"
                            translate>
                            Testnote
                            </button></li>
                    <ul class="right-end">
                        <li><button ng-click="multi_view.close_item($parent.$parent.$index, $index)"
                                class="closebutton"
                                translate>
                                Close
                                </button></li>
                    </ul>
                </ul>
                <svg id="{{menu.tree_id}}" class="tree viewtab" ng-show="menu.mode == 'tree'">
                    <filter id="dropshadow" height="130%">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="1"/> <!-- how much to blur -->
                        <feColorMatrix
                            type="matrix"
                            values="0.0  0.0  0.0  0.0  1.0
                                    0.0  0.0  0.0  0.0  1.0
                                    0.0  0.0  0.0  0.0  1.0
                                    0.0  0.0  0.0 10.0  0.0" />
                        <feOffset dx="0" dy="0" result="offsetblur"/> <!-- how much to offset -->
                        <feMerge> 
                            <feMergeNode/> <!-- the offset blurred image -->
                            <feMergeNode in="SourceGraphic"/> <!-- the element that the filter is applied to -->
                        </feMerge>
                    </filter>
                </svg>
                <div class="info viewtab" ng-show="menu.mode == 'info'">
                    <dl>
                        <dt>xref</dt>
                            <dd>{{ menu.Hiski.selected.xref }}</dd>
                        <dt translate>Name</dt>
                            <dd>{{ menu.Hiski.selected.name }}</dd>
                        <dt translate>Birth date</dt>
                            <dd>{{ menu.Hiski.selected.data.birth_date_string || "--" }}</dd>
                        <dt translate>Death date</dt>
                            <dd>{{ menu.Hiski.selected.data.death_date_string || "--" }}</dd>
                        <dt translate>Gender</dt>
                            <dd ng-if="menu.Hiski.selected.data.sex == 'M'" translate>Male</dd>
                            <dd ng-if="menu.Hiski.selected.data.sex == 'F'" translate>Female</dd>
                            <dd ng-if="menu.Hiski.selected.data.sex == '?'" translate>Unknown</dd>
                    </dl>
                    <button ng-click="menu.Hiski.toggle_hide_selected()" ng-if="menu.Hiski.selected !== null" translate>
                        Hide
                    </button>
                    <dl ng-if="menu.debug_mode">
                        <dt>soundex6family</dt>
                            <dd>{{ menu.Hiski.selected.data.soundex6family }}</dd>
                        <dt>fuzzy index</dt>
                            <dd>{{ menu.Hiski.selected.order_fuzzy_index }}</dd>
                        <dt>order reason</dt>
                            <dd>{{ menu.Hiski.selected.order_reason }}</dd>
                        <dt>leftmost_parent</dt>
                            <dd ng-click="menu.select_node(menu.Hiski.selected.leftmost_parent)">
                                    {{ menu.Hiski.selected.leftmost_parent.xref }}</dd>
                        <dt>rightmost_parent</dt>
                            <dd ng-click="menu.select_node(menu.Hiski.selected.rightmost_parent)">
                                    {{ menu.Hiski.selected.rightmost_parent.xref }}</dd>
                        <dt>rightmost_spouse</dt>
                            <dd ng-click="menu.select_node(menu.Hiski.selected.rightmost_spouse)">
                                    {{ menu.Hiski.selected.rightmost_spouse.xref }}</dd>
                        <dt>rightmost_subnode</dt>
                            <dd ng-click="menu.select_node(menu.Hiski.selected.rightmost_subnode)">
                                    {{ menu.Hiski.selected.rightmost_subnode.xref }}</dd>
                    </dl>
                </div>
                <div class="testnote viewtab" ng-show="menu.mode == 'testnote'">
                    {{ menu.testnote }}
                </div>
                <div id="{{ menu.map_id }}" class="map viewtab" ng-show="menu.mode == 'map'">
                    <!-- #map will be moved here, as only one such can exist at a time -->
                </div>
                <div id="{{ menu.search_id }}" ng-show="menu.mode == 'search'">
                    <label><span translate>Search by</span>
                        <select class="search-by" ng-model="menu.search_by">
                            <option value="firstname" translate>First name</option>
                            <option value="familyname" translate>Family name</option>
                            <option value="xref">xref</option>
                        </select>
                    </label>
                    <label><span translate>Search term</span>
                        <input class="search-term" type="text" ng-model="menu.search_term"></input>
                    </label>
                    <button ng-click="menu.do_search()" translate>Search</button>
                    <div class="searchresults">
                        <div><span translate>For search:</span> {{ menu.search_result_term }}</div>
                        <div ng-repeat="ind in menu.search_result_list" ng-click="menu.load(ind.xref)">
                            {{ ind.name }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-row" ng-click="multi_view.add_item($index)">
                +
            </div>
        </div>
        <div class="add-column" ng-click="multi_view.add_column()">
            +
        </div>
    </div>
</div>
{% endraw %}
<div class="ng-hide">
    <div id="map">
    </div>
</div>
{% endblock %}



