{% extends "base.html" %}

{% block body %}
{% raw %}
<div class="multiview" ng-controller="MultiViewController as multi_view">
    <div class="rowcontainer">
        <div id="{{ column.html_id }}" class="columncontainer" ng-repeat="column in multi_view.columns" ng-init="column_i = $index">
            <button class="resizer vertical" ng-if="column.id != multi_view.columns[0].id" ng-mousedown="multi_view.resize_horizontal(column)">
                    <span class="wrap">&bull; &bull; &bull;</span>
            </button>
            <div class="inner-column-container">
                <div class="close-column" ng-click="multi_view.close_column_by_id(column.id)">
                    -
                </div>
                <div id="{{menu.html_id}}" class="mvitem"
                            ng-repeat="item in column.items"
                            ng-controller="ItemViewMenuController as menu"
                            ng-init="row_i = $index">
                    <button class="resizer horizontal" ng-if="item.id != column.items[0].id" ng-mousedown="multi_view.resize_vertical(item)">
                        <span class="wrap">&bull;&bull;&bull;</span>
                    </button>
                    <div class="itemheader">
                            <select ng-change="menu.set_new_mode()" ng-model="menu.new_mode">
                                <option value="tree" translate>Tree</option>
                                <option value="info" translate>Info</option>
                                <option value="search" translate>Search</option>
                                <option value="pathsearch" translate>Pathsearch</option>
                                <option value="map" translate>Map</option>
                                <option value="testnote" ng-show="menu.testnote !== null" translate>Testnote</option>
                                <option value="comments" translate>Comments</option>
                            </select>
                        <button ng-click="menu.testzoom()"
                                ng-show="menu.mode == 'tree'"
                                translate>
                                Locate
                                </button>
                        <div class="right-end">
                            <button
                                    ng-click="multi_view.close_item_by_id(item.id)"
                                    class="closebutton"
                                    translate>
                                    Close
                                    </button>
                        </div>
                    </div>
                    <svg id="{{menu.tree_id}}" class="tree viewtab" ng-show="menu.mode == 'tree'">
                    </svg>
                    <div class="info viewtab" ng-show="menu.mode == 'info'">
                        <dl>
                            <dt>xref</dt>
                                <dd>{{ menu.Hiski.selected.xref }}</dd>
                            <dt translate>Name</dt>
                                <dd>{{ menu.Hiski.selected.name }}</dd>
                            <dt translate>Birth date</dt>
                                <dd>{{ menu.Hiski.selected.data.birth_date_string || "--" }}</dd>
                            <dt translate>Death date</dt>
                                <dd>{{ menu.Hiski.selected.data.death_date_string || "--" }}</dd>
                            <dt translate>Gender</dt>
                                <dd ng-if="menu.Hiski.selected.data.sex == 'M'" translate>Male</dd>
                                <dd ng-if="menu.Hiski.selected.data.sex == 'F'" translate>Female</dd>
                                <dd ng-if="menu.Hiski.selected.data.sex == '?'" translate>Unknown</dd>
                            <dt translate ng-if="menu.Hiski.selected.has_probabilities">Parent probabilities</dt>
                                <dd ng-repeat="p in menu.Hiski.selected.parent_probabilities">{{ p.name }}: {{p.prob | number:6 }}</dd>
                        </dl>
                        <button ng-click="menu.Hiski.toggle_hide_selected()" ng-if="menu.Hiski.selected !== null" translate>
                            Hide descendants
                        </button>
                        <dl ng-if="menu.Hiski.debug_mode">
                            <dt>soundex_family</dt>
                                <dd>{{ menu.Hiski.selected.data.soundex_family }}</dd>
                            <dt>fuzzy index</dt>
                                <dd>{{ menu.Hiski.selected.order_fuzzy_index }}</dd>
                            <dt>order reason</dt>
                                <dd>{{ menu.Hiski.selected.order_reason }}</dd>
                            <dt>leftmost_parent</dt>
                                <dd ng-click="menu.select_node(menu.Hiski.selected.leftmost_parent)">
                                        {{ menu.Hiski.selected.leftmost_parent.xref }}</dd>
                            <dt>rightmost_parent</dt>
                                <dd ng-click="menu.select_node(menu.Hiski.selected.rightmost_parent)">
                                        {{ menu.Hiski.selected.rightmost_parent.xref }}</dd>
                            <dt>rightmost_spouse</dt>
                                <dd ng-click="menu.select_node(menu.Hiski.selected.rightmost_spouse)">
                                        {{ menu.Hiski.selected.rightmost_spouse.xref }}</dd>
                            <dt>rightmost_subnode</dt>
                                <dd ng-click="menu.select_node(menu.Hiski.selected.rightmost_subnode)">
                                        {{ menu.Hiski.selected.rightmost_subnode.xref }}</dd>
                        </dl>
                    </div>
                    <div class="testnote viewtab" ng-show="menu.mode == 'testnote'">
                        {{ menu.testnote }}
                    </div>
                    <div id="{{ menu.map_id }}" class="map viewtab" ng-show="menu.mode == 'map'">
                        <!-- #map will be moved here, as only one such can exist at a time -->
                    </div>
                    <div id="{{ menu.search_id }}" class="search viewtab" ng-show="menu.mode == 'search'">
                        <div class="tripets">
                            <div class="triplet" ng-repeat="triplet in menu.search_triplets">
                                <select ng-model="triplet.relation" ng-change="menu.check_if_remove_triplet(triplet)">
                                    <option value="self" translate>self</option>
                                    <option value="remove" translate ng-if="menu.search_triplets.length > 1">remove</option>
                                </select>
                                <select ng-model="triplet.search_type">
                                    <option value="firstname" translate>First name</option>
                                    <option value="familyname" translate>Family name</option>
                                    <option value="birthyear" translate>Birth year</option>
                                    <option value="xref">xref</option>
                                </select>
                                <input type="text" ng-model="triplet.search_term"></input>
                            </div>
                            <button type="button" ng-click="menu.add_search_triplet()" translate>Add term</button>
                        </div>
                        <div>
                            <button type="button" ng-click="menu.do_multi_search()" translate>Search</button>
                        </div>
                        <div class="searchresults">
                            <div ng-if="menu.Hiski.debug_mode">Time spent (s): {{ menu.search_time | number:3 }}</div>
                            <div><span translate>For search:</span> {{ menu.search_result_term }} ({{ menu.search_soundex }})</div>
                            <div class="search-result" ng-repeat="ind in menu.search_result_list" ng-click="menu.load(ind.xref)">
                                {{ ind.name }}
                            </div>
                        </div>
                    </div>
                    <div class="pathsearch viewtab" ng-show="menu.mode == 'pathsearch'">
                        <form ng-submit="menu.do_pathsearch()">
                            <div>
                                <label>
                                    <span translate>From selected:</span>
                                    <span class="search-result" ng-show="menu.Hiski.selected != null"
                                                ng-click="menu.load(menu.Hiski.selected.xref)">
                                        {{ menu.Hiski.selected.name }}
                                    </span>
                                    <span ng-show="menu.Hiski.selected == null" translate>Select someone</span>
                                </label>
                                <label><span translate>To:</span>
                                    <select class="path-search-mode" ng-model="menu.pathsearch_mode">
                                        <option value="last-selection" translate>Last selection</option>
                                        <option value="xref">xref</option>
                                        <option value="celebrity" ng-if="menu.Hiski.celebrity_nodes.length > 0" translate>Celebrity</option>
                                    </select>
                                </label>
                                <label ng-show="menu.pathsearch_mode == 'celebrity'">
                                    <div ng-repeat="ind in menu.Hiski.celebrity_nodes">
                                        <span class="pathsearch-celebrity-selection">
                                            <input type="radio" name="pathsearch-celebrity-selection-{{menu.id}}" value="{{ ind.xref }}" ng-model="menu.pathsearch_celebrity_xref">
                                            </input>
                                        </span>
                                        <span class="search-result"
                                                ng-click="menu.celebrity_select_and_load(ind.xref)">
                                            {{ ind.name }}
                                        </span>
                                    </div>
                                </label>
                                <label ng-show="menu.pathsearch_mode != 'celebrity'">
                                    <span class="intentionally-empty"></span>
                                        <span class="search-result"
                                                    ng-show="menu.pathsearch_mode == 'last-selection' && menu.Hiski.lastselected != null"
                                                    ng-click="menu.load(menu.Hiski.lastselected.xref)">
                                            {{ menu.Hiski.lastselected.name }}
                                        </span>
                                        <span ng-show="menu.pathsearch_mode == 'last-selection' && menu.Hiski.lastselected == null" translate>Select nodes</span>
                                        <input type="text" ng-show="menu.pathsearch_mode == 'xref'" ng-model="menu.pathsearch_xref"></input>
                                </label>
                                <button type="submit" translate>Search path</button>
                                <button type="button" translate ng-click="menu.Hiski.hide_besides_path()">Hide others</button>
                            </div>
                        </form>
                        <div class="searchresults" ng-if="menu.pathsearch_state == 'idle'">
                            <div ng-if="menu.Hiski.debug_mode">Time spent (s): {{ menu.pathsearch_time | number:3 }}</div>
                            <div ng-show="menu.pathsearch_list.length > 0">
                                <span translate>Found path between:</span>
                                <span>{{ menu.pathsearch_from.name }}</span>
                                <span translate>and</span>
                                <span>{{ menu.pathsearch_to.name }}</span>
                            </div>
                            <div class="search-result" ng-repeat="ind in menu.pathsearch_list" ng-click="menu.load(ind.xref)">
                                {{ ind.name }}
                            </div>
                            <div ng-show="menu.pathsearch_list.length == 0" translate>
                                No path
                            </div>
                            <div ng-if="menu.pathsearch_error != null" translate>
                                {{ "::" + menu.pathsearch_error }}
                            </div>
                        </div>
                        <div ng-if="menu.pathsearch_state == 'loading'" translate>
                            Loading
                        </div>
                    </div>
                    <div id="{{ menu.comments_id }}" class="comments viewtab" ng-show="menu.mode == 'comments'">
                        <section ng-if="menu.Hiski.selected != null">
                            <header>
                                <h1>{{ menu.Hiski.selected.name }}</h1>
                                <p class="subheader" translate>Comments about data quality</p>
                            </header>
                            <div>
                                <div class="comment" ng-repeat="comment in menu.Hiski.selected.comments">
                                    <header>
                                        <h2>{{ comment.author }}</h2>
                                        <p class="subheader">
                                            <span class="comment-type" translate>{{ "::" + comment.type }}</span>
                                            <span class="comment-date">{{ comment.isodate }}</span>
                                        </p>
                                    </header>
                                    <p class="comment-body" ng-repeat="line in comment.content.split('\n')">
                                        {{ line }}
                                    </p>
                                </div>
                            </div>
                            <form ng-submit="menu.leave_comment()">
                                <label>
                                    <span translate>Name:</span>
                                    <input type="text" ng-model="menu.Hiski.comment_name"></input>
                                </label>
                                <label>
                                    <span translate>Email:</span>
                                    <input type="text" ng-model="menu.Hiski.comment_email"></input>
                                </label>
                                <label>
                                    <span translate>Comment type:</span>
                                    <select ng-model="menu.comment_type">
                                        <option value="other" translate>::other</option>
                                        <option value="invalid" translate>::invalid</option>
                                        <option value="valid" translate>::valid</option>
                                    </select>
                                </label>
                                <label>
                                    <span translate>Comment:</span>
                                    <textarea ng-model="menu.comment_body"></textarea>
                                </label>
                                <button type="submit" translate>Submit</button>
                            </form>
                        </section>
                        <section ng-if="menu.Hiski.selected == null">
                            <span translate>Select a node</span>
                        </section>
                    </div>
                </div>
                <div class="add-row" ng-click="multi_view.add_item($index)">
                    +
                </div>
            </div>
        </div>
        <div class="add-column" ng-click="multi_view.add_column()">
            +
        </div>
    </div>
</div>
{% endraw %}
<div id="map-storage" class="ng-hide">
    <div id="map">
    </div>
</div>
{% endblock %}



